
{% include "header.html" %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}} " >




{% block body %}
<div class="cont">

    <div class="row">

        <div class="col md-12">



            <h2 style="margin-left: 49px;">Client Details List <button type="button" class="btn btn-success  pull-right" data-toggle="modal" data-target="#myModal">Add Client Data</button></h2>
            <h2><button type="button" class="btn btn-success  pull-right" data-toggle="modal" data-target="#rateModal" >Add Rates</button></h2><br/>
            <h2><a href="/admin/recycleBin" class="pull-right" > RecycleBin </a>
            <h2><a href="/logout" class="btn  pull-right">Logout</a></h2>




    {%with messages = get_flashed_messages()%}

    {%if messages%}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">

     <button type="button" class="close" data-dismiss="alert" aria-label ="close">

         <span aria-hidden="true">&times;</span>

     </button>
        {{message}}


    </div>


    {%endfor%}
    {%endif%}
    {%endwith%}




            <table class="table table-striped" >
                <tr >
                    <th colspan="5" class="head td-line" >Pickup Point Details</th>
                    <th colspan="8" class="head td-line">Delivery Point Details</th>
                    <th colspan="3" class="head">Admin Entered Details</th>
                </tr>


                <tr class="head">
              <th>Serial</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th class="td-line">Address</th>
              <th>Name2</th>
              <th>Email2</th>
              <th>Phone2</th>
              <th>Address2</th>
              <th>Photo</th>
              <th>Weight</th>
              <th>Distance</th>
              <th class="td-line">Cost</th>
              <th>Remarks/Consign Details</th>
              <th colspan="2">Date of Delivery</th>


          </tr>





                {% for row in client %}
                
                <tr id="tr{{loop.index0}}" >
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td class="td-line">{{row.4}}</td>
                    <td>{{row.5}}</td>
                    <td>{{row.6}}</td>
                    <td>{{row.7}}</td>
                    <td>{{row.8}}</td>
                    <td class="img"><img src="data:image/jpg;base64,{{photos[loop.index0]}} "> </td>
                    <td>{{row.10}}</td>
                    <td >{{row.11}}</td>
                    <td class="td-line">{{row.12}}</td>
                    <td id="remark{{loop.index0}}">{{row.13}}</td>
                    <td id="date{{loop.index0}}">{{row.14}}</td>
                    
                    <td>


               <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                

                    </td>

                </tr>

                <div id="modaledit{{row.0}}" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">


            
               <form action = "{{ url_for('update') }}" method="post" enctype="multipart/form-data">
                  <div>
                    <h2>Client ID</h2>
                    <input type="text" placeholder="id" value={{row.0}} name="id"> 
                    <h2>Pickup Point Details</h2>  
                      <input type="text" placeholder="Name" value={{row.1}} name="name"> 
                      <input type="email" placeholder="E-mail" value={{row.2}} name="email"> 
                      <input type="text" placeholder="Address" value={{row.4}} name="address">
                      <input type="text" placeholder="Phone" value={{row.3}} maxlength="10" minlength="10"  name="phone">
                      <div>
                          <input type="number" value={{row.10}} name="weight" placeholder="Weight"  >
                          <input type="number" name="distance" value={{row.11}} placeholder="Distance" >
                          
                          <input type="number" name="rate" value={{row.12}}  >
                      </div>
                  </div>
                  <div>  
                    <h2>Delivery Point Details</h2>
                      <input type="text" placeholder="Name" value={{row.5}} name="name1"> 
                      <input type="email" placeholder="E-mail" value={{row.6}} name="email1"> 
                      <input type="text" placeholder="Address" value={{row.8}} name="address1">
                      <input type="text" placeholder="Phone" value={{row.7}} maxlength="10" minlength="10"  name="phone1">
                      
                      
                      
                      
                  </div>
                  <div>
                     <h2>Enter Consignment Details</h2>
                  
                  <input type="text" placeholder="Enter Consignment Details" value={{row.13}} name="remark" ><br/>
                  <input type="date" name="delivery_date" placeholder="Delivery_date" value={{row.14}} >
                  
                  </div>
                      
                  <div>
                      <input type="submit" class="btn btn-success" value="Submit">
                  </div>
                  
                </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>
<script>
   var remark= document.getElementById('remark{{loop.index0}}');
   var date =document.getElementById('date{{loop.index0}}');
   if (((remark.textContent).length == 0 || remark.textContent=="None") || ((date.textContent).length == 0 || date.textContent=="None") ){
      console.log(remark.textContent.length)
   }
   else{
      
      document.getElementById('tr{{loop.index0}}').style.backgroundColor='#56ff98'
   }
   
</script>


                {% endfor  %}


                </tbody>


            </table>


        </div>


<!-- Modal -->


<div id="myModal" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Please Insert Data</h4>


         </div>


         <div class="modal-body">


            
               <form action = "{{ url_for('insert') }}" method="post" enctype="multipart/form-data">
                  <div>  
                    <h2>Pickup Point Details</h2>
                      <input type="text" placeholder="Name" name="name"> 
                      <input type="email" placeholder="E-mail" name="email"> 
                      <input type="text" placeholder="Address" name="address">
                      <input type="text" placeholder="Phone" maxlength="10" minlength="10"  name="phone">
                      <div>
                          <input type="number" name="weight"  id="weight" placeholder="Weight">
                          <input type="number" name="distance"  id="distance" placeholder="Distance">
                          <h3 id="rate"></h3>
                          <button type="button" onclick="calculateRate()">Calculate Rate</button>

                          
                          
                      </div>
                  </div>
                  <div>  
                    <h2>Delivery Point Details</h2>
                      <input type="text" placeholder="Name" name="name1"> 
                      <input type="email" placeholder="E-mail" name="email1"> 
                      <input type="text" placeholder="Address" name="address1">
                      <input type="text" placeholder="Phone" maxlength="10" minlength="10"  name="phone1">
                      <input type="file" name="file1">
                      
                  </div>
                      
                  <div>
                      <input type="submit" class="btn btn-success" value="Submit">
                  </div>
                  
                </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>




 
    </div>


</div>

<!--rateModel-->
<div id="rateModal" class="modal fade" role="dialog">


    <div class="modal-dialog">
 
 
       <div class="modal-content">
 
 
          <div class="modal-header">
 
 
             <button type="button" class="close" data-dismiss="modal">&times;</button>
 
 
             <h4 class="modal-title">Please Insert Data</h4>
 
 
          </div>
 
 
          <div class="modal-body">
 
 
             
            <h2>Hi Admin, Please Add rates </h2>
            <form action="/admin/add_rates" method="post">
              <div>
                Enter weight<input type="number" name="weight" >
              </div>
              <div>
                Enter Distance<input type="number" name="distance">
              </div>
              <div>
                Rate<input type="number" name="rate">
              </div>
              <div>
                <input type="submit" placeholder="Add Changes">
              </div>
            </form>
 
 
          </div>
 
 
          <div class="modal-footer">
 
 
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 
 
          </div>
 
 
       </div>
 
 
    </div>
 
 
 </div>
 
 
 
 
  
     </div>
 
  
 </div>
 

 {% include "footer.html" %}
{% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
   function calculateRate() {
     var weight = document.getElementById("weight").value;
     var distance = document.getElementById("distance").value;
 
     var xhttp = new XMLHttpRequest();
     xhttp.onreadystatechange = function() {
         if (this.readyState == 4 && this.status == 200) {
             var rate = JSON.parse(this.responseText).rate;
             document.getElementById("rate").innerHTML = rate +" "+ "INR";
         }
     };
     xhttp.open("GET", "/calculate?weight=" + weight + "&distance=" + distance, true);
     xhttp.send();
 }
 
 </script>
